body {
    /* overflow-y: hidden; */
}

.container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

#otherPlayerContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}