* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.home {
    background-color: #f9f4f5;
    color: #260a0d;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 7%;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.right-content {
    position: relative;
}

.background-circle {
    width: 600px;
    height: 600px;
    border-radius: 300px;
    background-color: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.06);
}

.snake-img{
    width: 700px;
    height: 700px;
    position: absolute;
    top: -10%;
    left: 0;
}

.game {
    background-color: #f9f4f5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-outer-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.game-container {
    display: flex;
    flex-direction: column;
}

.instruction-title {
    font-size: 3rem;
    margin-bottom: 16px;
}

.instruction{
    margin-bottom: 8px;
    font-size: 1.25rem;
}

.game-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 32px;
}

.roomid {
    margin-bottom: 22px;
}

.left-content {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-right: 100px; */
}

.button-container{
    display: flex;
}

a {
    text-decoration: none;
}

.btn {
    margin-right: 16px;
}

.outline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outline > svg {
    margin-left: 8px;
}

.title{
    font-size: 6rem;
    font-weight: 400;
    margin-bottom: 32px;
}

.bold {
    font-weight: 900;
}

.subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 32px;
}
